spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mydb?rewriteBatchedInserts=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true